.code-scan__header {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 15px;
  font-weight: 700;
  z-index: 2;
}
.camera-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.camera-screen {
  height: 1000vh;
}

.code-scan__nav {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 140px;
  width: 100%;
  border-top: rgb(221, 221, 221);

  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: rgb(156, 156, 156);
  list-style: none;
  padding-top: 25px;
}

.code-scan__list i {
  font-size: 20px;
}
.code-scan__icon span {
  margin-top: 10px;
}
.code-scan__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.code-scan__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 25px;
}
.code-scan__header i {
  cursor: pointer;
}

.code-scan-body .cacao-screen {
  background: linear-gradient(
    to right,
    rgba(33, 57, 63, 0.39),
    rgba(150, 103, 103, 0.842)
  );
  overflow: hidden;
}
.code-scan-body .status-bar {
  background-color: white;
}
