.app__header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 290px;
  background-image: linear-gradient(
      to bottom,
      rgba(18, 51, 88, 0.534),
      rgba(255, 255, 255, 0.26)
    ),
    url("../img/game-bg.png");
  background-size: auto 210px;
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  overflow: auto;
}
.app__header .app__status-bar {
  color: rgba(255, 255, 255, 0.658);
  text-shadow: 1px 1px #808080;
  position: fixed;
  width: 395px;
  height: 75px;
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
  z-index: 999;
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.473),
    rgba(255, 255, 255, 0.281)
  );
}
.app__status-bar .header__column {
  position: absolute;
  z-index: 123;
  height: 145px;
  background-color: linear-gradient(
    rgba(255, 255, 255, 0.479) 10%,
    rgba(255, 255, 255, 0.514) 50%,
    rgb(white) 100%
  );
  padding-top: 30px;
  padding-left: 15px;
  /*  color: rgba(255, 255, 255, 0);*/
  font-weight: 700;
}
.app__header .header__column {
  position: absolute;
  top: 20px;
  font-size: 14px;
  padding-bottom: 10px;
}

/*게임 디테일? 설명?*/
.game__detail {
  position: absolute;
  top: 290px;
  left: 0;
  height: 240px;
  width: 395px;
  padding: 20px;
  display: flex;
  border: 1px solid salmon;
}

.game__detail .game-small-img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 20%;
  object-position: 10% 150%;
}
.game__detail .title-column {
  display: flex;
  flex-direction: column;

  font-size: 16px;
  font-weight: 700;
  align-self: flex-start;
  margin: 0 10px 0 17px;

  line-height: 2em;
}
.game__detail .title-column span:nth-child(3) {
  font-size: 12px;
  font-weight: 600;
  color: rgb(151, 151, 151);
}
.game__detail .charge-column {
  width: 210px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 14px;
}
.charge-column .charge-btn {
  width: 30px;
  height: 20px;
  outline-style: none;
  border: none;
  color: white;
  background-color: rgb(75, 87, 250);
  font-size: 14px;
  font-weight: 700;
  width: 65px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  align-self: flex-end;
}
.charge-column .perchase {
  font-size: 10px;
  font-weight: 600;
  color: rgb(151, 151, 151);
  align-self: flex-start;
  margin-left: 5px;
}
.charge-column i {
  background-color: rgb(75, 87, 250);
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 0px 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__ratings-column {
  color: rgb(158, 158, 158);
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 460px;
  left: 0;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 0 17px;
  box-sizing: border-box;
}
.app__ratings-column .ratings {
  display: flex;
  flex-direction: column;
}
.app__ratings-column .ratings-star {
  display: flex;
}
.app__ratings-column .ratings span:nth-child(2) {
  font-size: 10px;
}
/*메인*/
.app__content {
  display: flex;
  position: absolute;
  top: 4295px;
  left: 0;
  width: 100%;
  height: 240px;
  border: 3px solid blue;
}

.game-img,
.game-img2 {
  transform: translateY(100%);
  opacity: 0;
}
