.friends__list {
  height: calc(100% - 80px);
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 17px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.friends__list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.friends__list .my-avatar {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  border: 1px solid rgb(235, 235, 235);
}
.friends__list .avatar {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  border: 1px solid rgb(235, 235, 235);
}
.friends__list .friend-name {
  font-weight: 500;
  font-size: 14px;
}

.friends__list .my-name {
  font-weight: 700;
}

/*
.section-friends .friend-music {
  border: 1px solid #00eb1f;
  border-radius: 15px;
  padding: 7px;
  color: rgb(160, 160, 160);
  font-size: 12px;
  font-weight: 600;
  max-width: 160px;
  min-width: 50px;
  max-height: 90px;
  display: flex;
}
.music-ellipses {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  /*word-break: break-all;
  text-overflow: ellipsis;
  max-width: 140px;

  text-transform: capitalize;
}
.friend-music i {
  color: #00eb1f;
  margin-left: 5px;
}
*/
/* 호버하면 배경화면 바뀐다 */
.friends-column-contents:hover {
  background-color: rgb(243, 243, 243);
}
.my-profile:hover {
  background-color: white;
}
