.friends__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 395px;
  height: 75px;
  background-color: white;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px 20px 40px;
  box-sizing: border-box;

  /*로딩화면 때문에 아이콘 가려짐. 지우지마*/
  z-index: 999;
}
.friends__header .header__icon {
  display: inline-block;
  margin-left: 20px;
}
