.nav-bar {
  position: fixed;
  left: 0;
  top: 630px;
  width: 395px;
  height: 60px;
  background-color: #f9f9fb;
  border: 1px solid #e6e6e6;
  padding: 15px 45px;
  /*z-index: 9999; 로딩화면보다 올라옴*/
}
.nav__icons-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}
.nav-icon {
  cursor: pointer;
  color: teal;
}
