.new-chat {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: white;
  z-index: 999;
}
.new-chat__column:first-child {
  padding: 15px 20px;
}
.new-chat__column:first-child span {
  margin-left: 115px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
}
.new-chat__column {
  display: flex;
  z-index: 13;
}
.new-chat .icons-list {
  display: flex;
  justify-content: space-evenly;
}
.new-chat .new-chat__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-chat__icon i {
  font-size: 20px;
  margin-bottom: 15px;
}
.new-chat-screen {
  position: absolute;
  top: 20px;
  left: 0;
  background-color: rgba(49, 49, 58, 0.884);
  width: 100%;
  height: calc(100% - 20px);
  z-index: 10;
}
.friends-header,
.chattings-list {
  z-index: 9;
}
.new-chat__keywords {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-chat__keywords .keywords-title div {
  color: rgba(255, 255, 255, 0.603);
  font-size: 18px;
  text-align: center;
}
.new-chat__keywords .keywords-title div:nth-child(2) {
  font-weight: 700;
  margin-top: 5px;
}
.new-chat__keywords .keyword li {
  padding: 7px 10px;
  background-color: #ffe206;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  margin: 6px;
  text-align: center;
  display: inline-block;
}
.new-chat__keywords .keyword {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.new-chat__keywords .keyword :nth-child(2n + 1) {
  background-color: white;
}
