.settings__nav {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 395px;
  height: 220px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 99999;
}
.settings__nav .settings__url-list {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #42a5f5;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}
.settings__url-list .url-list:nth-child(2) {
  border-top: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 16px;
  width: 100%;
  text-align: center;
}
.settings__nav .setting-cancel {
  border-top: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 16px;
  text-align: center;
  color: #2296f2;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  box-sizing: border-box;
  font-weight: 700;
}
.settings__screen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(49, 49, 58, 0.884);
  width: 100%;
  height: 100%;
  z-index: 9999;
}
