/*
.search-bar__keywords {
  top: 100px;
  position: absolute;
}
.search-bar .search-recommend {
  font-size: 12px;
  opacity: 0.6;
  background-color: rgb(230, 230, 230);
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;

  display: inline-block;
}

.search-bar input,
.search-bar__hovered input {
  border: 2px solid #fae100;
  border-radius: 30px;
  width: 340px;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 10px;
}
.search-bar input::placeholder,
.search-bar__hovered::placeholder {
  padding: 10px;
  text-align: center;
}
.search-bar__hovered {
  position: relative;
  bottom: 0;
  left: -18px;
  width: 395px;
  height: 550px;
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 15px 10px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px -74px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -74px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -74px 5px 0px rgba(0, 0, 0, 0.75);
}
.search-bar__hovered .hovered-keyword {
  position: absolute;
  top: 70px;
  left: 30px;
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
/*
.search-bar .hovered-keyword i {
  margin-right: 10px;
  color: rgb(170, 121, 129);
}

.search-bar__hovered .hovered-keyword i:nth-child(1) {
  margin: 5px;
  background-color: rgb(192, 192, 192);
  padding: 4px;

  border-radius: 50%;
  color: white;
}

.search-bar__hovered .hovered-keyword i:nth-child(2) {
  margin-left: 5px;
}

/*mmmmmm초기화?mmmmmmmm
.search-bar__hovered {
  transform: translateY(20%);   hover되면 20.

.search-bar__hovered {
  transform: translateY(150%);
}

/* animation */
