.sharp__status-bar{
  background-color: white;
  padding-bottom:50px;
}
.sharp__header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 395px;
  background-color: white;
  border-bottom: 1px solid rgb(233, 233, 233);
  height: 30px;
  font-size: 22px;
  font-weight: 700px;
  padding-bottom: 0;
  /*color: rgb(107, 107, 107);*/
  white-space: nowrap;
  word-break: keep-all;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 30px;
  
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /*z-index: 15;    그로우 서치바랑 부딪힘 */
}
.sharp__header::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.sharp__header::before {
  content: "<<-slide->> ";
  color: rgb(157, 255, 65);
  float:left;
}
.sharp__header .header__item {
  margin-left: 14px;
  list-style: none;
}
/*
.sharp__header .header__item:nth-child(2) {
  color: #2c2c2c;
  border-bottom: 2px solid #2c2c2c;
}
*/

.sharp__header .header__items-list{
  display:block;
  height:45px;
  width:700px;
  background: linear-gradient(to right, black, white);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.1);

}
.sharp__header .header__item{
  float: left;
}
