.sharp-screen {
  position: relative;
}

.sharp-main {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 575px;
  overflow: scroll;
  font-size: 14px;
}
.sharp-main .main-section__1 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section__1 .main__column {
  display: flex;
  flex-direction: column;
}
.main-section__1 .main-red {
  display: block;
  color: rgb(255, 110, 134);
  opacity: 0.8;
}
.main-section__1 i {
  font-size: 20px;
  margin-left: 20px;
  color: #76bad1;
}

.main-section__2 img {
  width: 160px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.main-section__2 {
  display: flex;
  justify-content: center;
  border-bottom: 8px solid #f0f0f0;
  border-top: 8px solid #f0f0f0;
  padding: 17px 0px;
}

.main-section__2 .main__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section__2 .main-img {
  margin-right: 5px;
}

.main-section__3 {
  display: flex;
  justify-content: center;

  border-bottom: 8px solid #f0f0f0;

  padding: 17px 0px;
}
.main-section__3 .degree {
  font-size: 25px;
  margin-right: 15px;
}

.main-section__3 .main-column {
  width: 250px;
  width: 100%;
  display: flex;
  align-items: center;
}

.relative-weather {
  position: relative;
}
.main-section__3 .weather-absolute,
.main-section__3 .weather-absolute-2 {
  text-align: start;
}

.main-section__3 .weather-absolute,
.main-section__3 .weather-absolute-2 i {
  display: inline-block;
}
.sharp-main .main-commercial {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sharp-main .commercial2 {
  width: 360px;
  height: 200px;
  object-fit: cover;
  margin-top: 20px;
}
