.sharp__main {
  position: relative;
  top: 60px;
  left: 0;
  width: 395px;
  height: 630px;
  border: 1px solid #f0f0f0;
  background-color: white;
  overflow: auto;
}

.sharp__main .news-head {
  padding: 0 17px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  border-bottom: 10px solid #f0f0f0;
}
.sharp__main .content__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sharp__main .wash-hand-img {
  width: 60px;
  height: 60px;
  background-image: url("../img/corona.png");
  background-size: cover;
  background-position: center;
}

/* 뉴스 제목 리스트 */

.sharp__main .news-content {
  display: flex;
  flex-direction: column;
}
.sharp__main .news-content span {
  padding: 10px 17px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sharp__main .commercial-contents {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.sharp__main .commercial-contents img {
  border-radius: 10px;
  width: 175px;
  height: 100px;
  object-fit: cover;
}
.sharp__main .commercial-detail {
  width: 100%;
  padding: 10px 17px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
