.status-bar {
  position: fixed;
  width: 395px;
  height: 20px;
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
  z-index: 999;
}
.status-bar__icons-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.status-bar__clock {
  display: flex;
  justify-content: center;
  transform: translateY(-100%);
}
