.status-bar {
  position: fixed;
  width: 395px;
  height: 20px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: white;
  z-index: 999;
}
.status-bar-column-right {
  display: flex;
  width: 225px;
  justify-content: space-between;
}
