@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "friends-header.css";
@import "friends-list.css";
@import "nav.css";
@import "chattings.css";
@import "sharp-header.css";
@import "sharp-main.css";
@import "more.css";
@import "sharp-search-bar.css";
@import "chat.css";
@import "add-friends.css";
@import "music.css";
@import "settings.css";
@import "chattings-add-friend.css";
@import "new-chat.css";
@import "code-scan.css";
@import "download.css";

/*
.cacao-screen {
  border: 1px solid red;
}*/

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  text-decoration-style: none;

  color: rgb(51, 51, 51);
}
a {
  text-decoration: none;
}
.cacao-screen {
  border: 1px solid tomato;
  position: relative;
  top: 0;
  left: 0;
  width: 395px;
  height: 690px;
  color: #2c2c2c;
  background-color: white;
}
.cacao-screen .loading-screen {
  /*  z-index: 10000;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.kakao-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 395px;
  height: 690px;
  z-index: 999999;
  object-fit: cover;
  object-position: center;
}

.nav-icon {
  color: #2c2c2c;
}

/* 아이콘 클릭이 안되서
.friends-header {
  z-index: 2000;
}
 */

.loading-screen {
  animation: 10s loading-fade forwards;
}
@keyframes loading-fade {
  0% {
    background-image: url("../img/loading.png");
    background-size: cover;
  }
  40% {
    background-image: url("../img/loading.png");
    background-size: cover;
  }
  99% {
    display: none;
  }
  100% {
    opacity: 0;
  }
}
